@import './variables';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 15px;
    list-style: none;
    text-decoration: none;
}

.App {
    width: 100%;
    min-height: 100svh;
    height: auto;
    background: $BG-COLOR;
}
.container {
    display: flex;
}

.menuContainer {
    width: 250px;
    height: 100vh;
    padding: 0.35em;
    background: #005;
}